/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.name-input {
  margin-top: 40px;
}

.name-input > form > input {
  width: 200px;
  padding: 8px 12px;
  margin-right: 10px;
}

.state-content {
  margin-top: 20px;
}